In [7]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split as tts

class shoeFile:
    def __init__(self, sn):
        self.shoeName = sn
        self.shoeDF = pd.read_csv('../Historical Data/'+self.shoeName+'.csv')
        self.shoeDF['msrp'] = 130
        self.salesInPastMonth = 0

        self.shoeDF['Price'] = self.shoeDF['Price'].apply(lambda x: x.replace('$','') if '$' in list(x) else x)
        self.shoeDF['Price'] = self.shoeDF['Price'].apply(pd.to_numeric)

        uniqueDays = self.shoeDF['Date'].unique()[:31]
        for ud in uniqueDays:
            self.salesInPastMonth += len(self.shoeDF[self.shoeDF['Date'] == ud])
        self.pastMonthDF = self.shoeDF[:self.salesInPastMonth]

In [8]:
x = shoeFile('Jordan 1 Centre Court White University Red')

In [9]:
x.pastMonthDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271 entries, 0 to 270
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    271 non-null    object
 1   Time    271 non-null    object
 2   Size    271 non-null    float64
 3   Price   271 non-null    int64
 4   msrp    271 non-null    int64
dtypes: float64(1), int64(2), object(2)
memory usage: 10.7+ KB

In [10]:
x.pastMonthDF['Price'].mean()

104.39114391143912

In [11]:
x.shoeDF['Price'].mean()

101.07889908256881

In [12]:
x.pastMonthDF.head()

                     Date          Time  Size  Price  msrp
0    Sunday, July 4, 2021  11:50 PM EST  10.0     60   130
1    Sunday, July 4, 2021   8:48 PM EST  12.0     84   130
2  Thursday, July 1, 2021   8:57 PM EST  12.0     88   130
3  Thursday, July 1, 2021   7:58 PM EST  10.5     80   130
4  Thursday, July 1, 2021   7:55 PM EST  10.0     69   130

In [15]:
print(x.pastMonthDF['Price'].mean()/x.pastMonthDF['msrp'].mean())

0.8030087993187625